{% comment %} All blogs inherit from this template. {% endcomment %}
{% assign root = '..' %}
{% assign nav = 'blog' %}
<!DOCTYPE html>
<html lang="en">
  {% include "head.liquid" %}
  <body>
    {% include "nav.liquid" %}
    <h1>{{ page.data.heading }}</h1>
    {% comment %} <h2>{{ page.data.heading2 }}</h2> {% endcomment %}
    <main class="blog">
     {{ page.data.route }}
     {{ page.content }}
    </main>
  </body>
</html>
