<head>
  <meta charset="utf-8">

  <title>
    {% if page.data contains "title" %} {{ page.data.title }} {% comment %} Allows user to set a title different from the h1 on the page. {% endcomment %}
    {% else %} {{ page.title }}
    {% endif %}
  </title>

  {% if page.description != "" %}
    <meta name="description" content="{{ page.description }}" />
  {% endif %}
  <meta name="author" content="Gibson Fahnestock">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{root}}/styles.css" type="text/css">
  <link rel="icon" href="{{root}}/favicon.ico" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119958051-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-119958051-1');
  </script>
</head>
