{% if page.data contains "nav"  %}
  {% assign nav = page.data.nav %}
{% endif %}

<nav>
  <div id="logo-container">
    <a class="nav-item nav-logo" href="{{root}}/index.html">
      {% include "svg/logo-fahn-co.svg" %}
    </a>
  </div>
  <div id="nav-link-container">
    <a class="nav-item nav-link {%if nav == 'about' %}current{%endif%}" href="{{root}}/index.html">Home</a>
    <a class="nav-item nav-link {%if nav == 'blog' %}current{%endif%}" href="{{root}}/posts.html">Blog</a>
    <a class="nav-item nav-link {%if nav == 'talks' %}current{%endif%}" href="{{root}}/talks.html">Talks</a>
    <a class="nav-item nav-link {%if nav == 'books' %}current{%endif%}" href="{{root}}/books.html">Books</a>
    <a class="nav-item nav-link {%if nav == 'brian' %}current{%endif%}" href="{{root}}/brian.html">Brian</a>
    <a class="nav-item nav-link {%if nav == 'downloads' %}current{%endif%}" href="{{root}}/d.html">Downloads</a>
    <a class="nav-item nav-link" href="{{root}}/resume.pdf">Resume</a>
  </div>
</nav>
