{% comment %} General top-level pages should inherit from this template. {% endcomment %}
{% assign root = '.' %}
<!DOCTYPE html>
<html lang="en">
  {% include "head.liquid" %}
  <body>
    {% include "nav.liquid" %}
    <h1 class="title">{{ page.title }}</h1>
    <main>
     {{ page.content }}
    </main>
  </body>
</html>
