{% comment %} Blog posts inherit from this template. {% endcomment %}
{% assign root = '..' %}
{% assign nav = 'blog' %}
<!DOCTYPE html>
<html lang="en">
  {% include "head.liquid" %}
  <body>
    {% include "nav.liquid" %}
    <h1>{{ page.title }}</h1>
    <main class="blog">
     {{ page.content }}
    </main>
  </body>
</html>
