/*
 * Overall settings.
 */
html {
    font-size: 62.5%; /* Sets the default size, everything else is relative to this */
}

/*
 * Media Queries
 */

/* Disable all animations if requested. */
@media (prefers-reduced-motion: reduce) {
    * {
        animation: none;
        transition: none;
    }
}

:root {
    --primary-background-color: rgb(238, 238, 238);
    --primary-text-color: rgb(17, 17, 17);
    --contrast-background-color: rgb(17, 17, 17);
    --contrast-text-color: rgb(238, 238, 238);
    --hover-fill-color: darkslateblue; /* Color to highlight links when we fill them. */
    --code-background-color: rgba(27, 31, 35, 0.05);
    --kbd-background-color: rgb(250, 251, 252);
    --shadow-color: rgb(198, 203, 209);
}

/* Use dark mode if requested. */
@media (prefers-color-scheme: dark) {
    :root {
        --primary-background-color: rgb(17, 17, 17);
        --primary-text-color: rgb(238, 238, 238);
        --contrast-background-color: rgb(238, 238, 238);
        --contrast-text-color: rgb(17, 17, 17);
        --hover-fill-color: LightSeaGreen; /* Color to highlight links when we fill them. */
        --code-background-color: rgba(228, 224, 220, 0.05);
        --kbd-background-color: rgb(29, 30, 31);
        --shadow-color: rgb(103, 115, 128);
    }
}

/*
 * General defaults.
 */

body {
    font-size: 2.4rem;
    /* Use built-in fonts for each platform */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    text-align: center;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    border-color: var(--contrast-background-color);
}

a {
    color: var(
        --primary-text-color
    ); /* Otherwise the link is purple for some reason. */
}

a:hover {
    color: var(--hover-fill-color); /* Color the word purple on hover" */
}

/* The nav bar */
nav {
    border-bottom: 1px solid; /* Black line under navbar. */
    padding-bottom: 0.5rem; /* Gap between navbar and its border-bottom. */
    margin: 0 1rem 0 1rem; /* Have a gap on the left and right. */
    min-height: 5rem;
}

nav div#logo-container {
    float: left; /* Logo floats on the left in the navbar. */
}

nav div#nav-link-container {
    padding: 1rem 0 1rem 0; /* Gap between navbar and its border-bottom. */
}

a.nav-item {
    margin-right: 3rem; /* Keep a gap between them. */
    /* margin: 0 1.5rem 0 1.5rem; /1* Keep a gap between them. *1/ */
    text-decoration: none; /* Don't underline links in the navbar. */
    transition: all 0.1s ease-in-out; /* Animation for hover highlighting. */
}

a.nav-link:hover {
    padding: 0.3rem 0 0.3rem 0; /* Keep the borders away from the text. */
    border-bottom: 3px solid; /* Want a thicker underline for nav-bar */
    border-top: 3px solid; /* Want a thicker underline for nav-bar */
}

svg#fahn-co-logo {
    fill: var(--primary-text-color);
    max-height: 5rem; /* Max height for the logo (otherwise it's massive). */
}

svg#fahn-co-logo:hover .fillme {
    fill: var(
        --hover-fill-color
    ); /* When you hover over a logo, their fillme paths get coloured blue */
}

/* The part of the site you're currently in */
.nav-item.current {
    font-weight: bold; /* Currently selected nav-item will be in bold. */
}

/*
 * Homepage
 */

/* Main title on the homepage */
h1.title {
    text-shadow: -1px 1px 0.5px var(--shadow-color);
}

/* SVG logos on the homepage */

svg.logos:hover .fillme {
    fill: var(
        --hover-fill-color
    ); /* When you hover over a logo, their fillme paths get coloured blue */
}

a.logos {
    /* Third party logos. */
    text-decoration: none;
}
svg.logos {
    transition: all 0.1s ease-in-out;
    vertical-align: middle; /* Vertically center them within their div */
}

svg.logos#stackoverflow-logo {
    width: 7rem;
    height: 7rem;
}
svg.logos#twitter-logo {
    width: 6rem;
    height: 6rem;
}
svg.logos#gitlab-logo {
    width: 6rem;
    height: 6rem;
}
svg.logos#github-logo {
    width: 5.5rem;
    height: 5.5rem;
    fill: var(--contrast-background-color);
}
svg.logos#linkedin-logo {
    width: 5rem;
    height: 5rem;
}
svg.logos:hover {
    transform: scale(1.2); /* When you hover over a logo it expands. */
}

/* End: SVG logos */

/*
 * Blogs list
 */

div.blogs-list {
    max-width: 560px;
    margin: 0 auto !important;
}

.italic {
    font-style: italic;
}

p.blogs {
    margin: 0 auto;
}

.blogs-subentry {
    color: darkgrey;
    font-size: 2rem;
}

p.blogs-subentry {
    margin: 0 0 0 2rem;
}

a.blogs {
    text-decoration: none; /* Don't highlight links in blogs list. */
}
a.blogs:hover {
    text-decoration: underline; /* Underline links on hover. */
    color: var(--hover-fill-color); /* Color the word purple on hover" */
}

div.blogs {
    margin: 0 0 1.5rem 0;
    text-align: left;
}

p.blogs-date {
    color: grey;
    font-size: 1.5rem;
    margin: 0;
}

/*
 * Blog Posts
 */
main.blog {
    max-width: 960px;
    margin: 0 auto !important;
    text-align: left;
}

main.blog a {
    text-decoration: underline;
}

main.blog img {
    display: block;
    max-width: 100%; /* Max width is the original image width. */
    height: auto; /* Scale the height to fit the width of the screen. */
    margin: 0 auto; /* Horizontally center images in blog posts. */
}

/* TODO(gib): work out what the annotation class should be */
main.blog p.annotation {
    font-color: green;
    font-size: 1rem;
    margin-top: 0;
}

main.blog div.standout {
    text-align: center;
    font-weight: bold;
    padding: 0.5rem 0;
    margin: 0 15%;
    font-size: 85%;
    background-color: var(--code-background-color);
    border-radius: 8px;
}

/* Code blocks */
main.blog pre {
    overflow: auto; /* Scrollbars for long lines */
    margin-bottom: 0;
    border-radius: 8px;
}

/* Inline code blocks */
main.blog code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: var(--code-background-color);
    border-radius: 3px;
}
/* End: Inline code */

/* Keyboard shortcuts */
main.blog kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
        monospace;
    line-height: 10px;
    vertical-align: middle;
    background-color: var(--kbd-background-color);
    border: solid 1px;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 var(--shadow-color);
}

/* Table settings */
main.blog table {
    display: block;
    width: 100%;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
}
main.blog table th,
main.blog table td {
    padding: 6px 13px;
    border: 1px solid;
}
main.blog table tr {
    border-top: 1px solid;
}
/* End: Table settings */

/* Quoted paragraphs */
/* TODO(gib): Blockquotes don't seem to handle line breaks properly. */
main.blog blockquote {
    padding: 0 1em;
    color: grey;
    border-left: 0.25em solid;
}

/*
 * Talks page
 */
div.talks {
    margin: 10px auto;
    align: center;
}

iframe.talk {
    border: 1px solid;
    border-width: 1px;
    vertical-align: middle;
    margin-bottom: 1rem;
}
